In [1]:
import boto3
import pandas as pd 
import io
import extraction as ex
bucket = 'team-yogurt-cleaned-data'
key = '2022/7/20/ayr_cleaned_20-07-2022_09-00-00.csv'
s3 = boto3.client('s3',
    aws_access_key_id="ASIASIVOTZVFVSBVRMJX",
    aws_secret_access_key="4XPuw7Q5Wk8prLhR7CcvwKYZuVZ9Q+18rU0XPpan",
    aws_session_token="FwoGZXIvYXdzEAoaDE0egS3DpJYa1xqE1iKrAmp7Hry/Y0tqBgr6GC5q67/oHKXTWu39KjL96mLNdUYPHIKpGiGqDx/341N+CQIJEaheSi0MgkxmvK/dpLqRCifSAIHAW4/O9ThGv+cmyZqutDk1Bl4oBeOOPQIxUg4pEpBEBeXZa3lubXLk8V1JqLrNGpddDjyQn5dgUalHb3rOFGDCfPWBT5wuFIc6bBFBcgzv2aH4HsvviS5nMAd4vBbxXdlQRPgDnIWshUzu3nfDoe6+uJsEWQqqK4cYwj/Igmd2wD0v7Pt/Ynd9B2dM6j1Ui+zoJjgHMvAjgwHha6TfBjdMKEZ2SJ6YPGetirHw/zWsOxxENAbImmxUqebyZ1vNrutPKzUMfHFDbFIkzIHIt4/HHiQwtwUP0qswnKlHxcAepsm0CCO8hQIzKPGf5JYGMiqeLW2ACc2vsYEQBV0DL6GUSC8i1xQgqEW/J8AIXbBb1eoW5lVeYVq/SfI=")
response= s3.get_object(Bucket=bucket, Key=key)

In [2]:
file = response['Body']
data = file.read().decode('utf-8')
df = pd.read_csv(io.StringIO(data))

In [ ]:
df = ex.clean_the_data(df)
ex.etl(df)

⠋ Creating dataframes...Customers DF OK
Location DF OK
Cards DF OK
mysql+pymysql://alex:%^MuvtL9pg6&G7-%@localhost:3307/thirstee
⠇ Creating dataframes...(12, 4)
   product_id            name flavour     size  price
0       15580  Speciality Tea   Fruit  Regular    1.3
name       Flavoured hot chocolate
flavour                    Caramel
size                       Regular
price                         2.60
Name: 0, dtype: object
   product_id            name flavour     size  price
0       15580  Speciality Tea   Fruit  Regular    1.3
name       Espresso
flavour        None
size        Regular
price          1.50
Name: 1, dtype: object
   product_id            name flavour     size  price
0       15580  Speciality Tea   Fruit  Regular    1.3
name       Flavoured hot chocolate
flavour                    Caramel
size                         Large
price                         2.90
Name: 2, dtype: object
   product_id            name flavour     size  price
0       15580  Speciality Tea   Fruit  Regular    1.3
name       Speciality Tea
flavour             Green
size              Regular
price                1.30
Name: 3, dtype: object
   product_id            name flavour     size  price
0       15580  Speciality Tea   Fruit  Regular    1.3
name       Speciality Tea
flavour             Fruit
size              Regular
price                1.30
Name: 4, dtype: object
   product_id            name flavour     size  price
0       15580  Speciality Tea   Fruit  Regular    1.3
   product_id            name flavour     size  price
0       15580  Speciality Tea   Fruit  Regular    1.3
name       Speciality Tea
flavour             Green
size                Large
price                1.60
Name: 5, dtype: object
   product_id            name flavour     size  price
0       15580  Speciality Tea   Fruit  Regular    1.3
name       Iced latte
flavour          None
size          Regular
price            2.35
Name: 6, dtype: object
   product_id            name flavour     size  price
0       15580  Speciality Tea   Fruit  Regular    1.3
name       Speciality Tea
flavour             Fruit
size                Large
price                1.60
Name: 7, dtype: object
   product_id            name flavour     size  price
0       15580  Speciality Tea   Fruit  Regular    1.3
name       Iced latte
flavour          None
size            Large
price            2.85
Name: 8, dtype: object
   product_id            name flavour     size  price
0       15580  Speciality Tea   Fruit  Regular    1.3
name                    Frappes
flavour    Strawberries & Cream
size                      Large
price                      3.25
Name: 9, dtype: object
   product_id            name flavour     size  price
0       15580  Speciality Tea   Fruit  Regular    1.3
name       Espresso
flavour        None
size          Large
price          1.80
Name: 10, dtype: object
   product_id            name flavour     size  price
0       15580  Speciality Tea   Fruit  Regular    1.3
name                    Frappes
flavour    Strawberries & Cream
size                    Regular
price                      2.75
Name: 11, dtype: object
                      name  flavour     size price
0  Flavoured hot chocolate  Caramel  Regular  2.60
1                 Espresso     None  Regular  1.50
2  Flavoured hot chocolate  Caramel    Large  2.90
3           Speciality Tea    Green  Regular  1.30
4                     None     None     None  None
(12, 4)
(11, 4)

⠙ Creating dataframes...