In [4]:
import boto3
import pandas as pd 
import io
import sys
sys.path.append("../")
from src.scripts import extraction as ex
bucket = 'team-yogurt-cleaned-data'
key = '2022/7/6/london_camden_cleaned_06-07-2022_09-00-00.csv'
s3 = boto3.client('s3',
    aws_access_key_id="ASIASIVOTZVFVSBVRMJX",
    aws_secret_access_key="4XPuw7Q5Wk8prLhR7CcvwKYZuVZ9Q+18rU0XPpan",
    aws_session_token="FwoGZXIvYXdzEAoaDE0egS3DpJYa1xqE1iKrAmp7Hry/Y0tqBgr6GC5q67/oHKXTWu39KjL96mLNdUYPHIKpGiGqDx/341N+CQIJEaheSi0MgkxmvK/dpLqRCifSAIHAW4/O9ThGv+cmyZqutDk1Bl4oBeOOPQIxUg4pEpBEBeXZa3lubXLk8V1JqLrNGpddDjyQn5dgUalHb3rOFGDCfPWBT5wuFIc6bBFBcgzv2aH4HsvviS5nMAd4vBbxXdlQRPgDnIWshUzu3nfDoe6+uJsEWQqqK4cYwj/Igmd2wD0v7Pt/Ynd9B2dM6j1Ui+zoJjgHMvAjgwHha6TfBjdMKEZ2SJ6YPGetirHw/zWsOxxENAbImmxUqebyZ1vNrutPKzUMfHFDbFIkzIHIt4/HHiQwtwUP0qswnKlHxcAepsm0CCO8hQIzKPGf5JYGMiqeLW2ACc2vsYEQBV0DL6GUSC8i1xQgqEW/J8AIXbBb1eoW5lVeYVq/SfI=")
response= s3.get_object(Bucket=bucket, Key=key)

In [2]:

file = response['Body']
data = file.read().decode('utf-8')
df = pd.read_csv(io.StringIO(data))

In [3]:
df = ex.clean_the_data(df)
ex.etl(df)

Customers DF OK
Location DF OK
Cards DF OK
                    name     flavour     size price duplicate
0          Hot Chocolate        None  Regular  1.40      True
1         Speciality Tea  Peppermint  Regular  1.30      True
2              Americano        None    Large  2.25      True
3   Luxury hot chocolate        None    Large  2.70      True
4          Red Label tea        None    Large  1.80      True
5              Americano        None  Regular  1.95      True
6          Red Label tea        None  Regular  1.20      True
7   Luxury hot chocolate        None  Regular  2.40      True
8   Flavoured iced latte     Caramel    Large  3.25      True
9         Speciality Tea  Darjeeling  Regular  1.30      True
10         Hot Chocolate        None    Large  1.70      True
11        Speciality Tea  Darjeeling    Large  1.60      True
12        Speciality Tea  Peppermint    Large  1.60      True
13  Flavoured iced latte     Caramel  Regular  2.75      True
Empty DataFrame
Columns: [name, flavour, size, price, duplicate]
Index: []
Products DF OK
Names inserted OK
Cards inserted OK
Stores inserted OK
no new products